#set( $subtab = $context.findValue("subtab") )

#if( $subtab )
	#set ( $module = $context.findValue("module") )
	#set ( $parentid = $context.findValue("tab") )
	<div id="eml-tab-subnav" class="emsubnav">
			#set( $searcher = $searcherManager.getSearcher($catalogid,"settingsmenu") )
			#set( $query = $searcher.query().exact("parentid", $parentid ).exact("moduleid", $module) )
			$!query.sortBy("ordering")
			#set($tabs = $query.search())		 
		<ul>
		
			#if($tabs)
				#ifnull( $subtab)
					#set( $subtab = $parentid )
				#end
				#foreach($screen in $tabs )
				<li #if( $subtab == "$screen.id" ) class="current" #end>
					
					<a  href="${apphome}${screen.path}" 
						class="ajax" 
						data-targetdiv="applicationcontent" 
						data-oemaxlayout="3"
						data-updateurl="true">
						#if ( $screen.sublabel ) #text($screen.sublabel) 
						#else #text($screen) #end
						
					</a>
					
				</li>
				#end
			#else
				#set($screen = $mediaarchive.getCachedData("settingsmenu", $subtab))
			<li class="current"><a href="">#text($screen)</a></li>
			#end
		</ul>
	</div>
	
	<div id="eml-tab-green-container" class="eml-tab-content">
			$pages.includeContent()
	</div>

#else
	<div class="eml-full-content">
			$pages.includeContent()
	</div>
#end