#set($groupSearcher = $searcherManager.getSearcher($catalogid, "settingsrole"))
#set($permissionassignedSearcher = $searcherManager.getSearcher($catalogid, "permissionentityassigned"))
#set($groupid = $context.getRequestParameter("settingsgroupid"))

#set($moduleid = $module.getId())

#set($entityid = $context.getRequestParameter("entityid"))

<div id="savepermissions">
<form method="post" 
	action="$siteroot$apphome/views/settings/modules/$moduleid/permissions/actionpermissions/view/save.html"
	class="ajaxform"
	data-oemaxlevel="1"
	data-targetdiv="savepermissions"
	data-toastmessage="[[Saving Permissions]]"
	data-toastsuccess="[[Permissions saved successfully]]"
	>

	
	<input type="hidden" name="oemaxlevel" value="1" />
	<input type="hidden" name="settingsgroupid" value="$groupid" />
	<input type="hidden" name="moduleid" value="$moduleid" />
	<input type="hidden" name="entityid" value="$!entityid" />

	<div>
		
    	<table class="table table-striped emdata settings-table">	

			#set( $section = "none")

	    	#foreach($type in $mediaarchive.getList("permissionentitytype") )

				#if( $type.id == "views" )
					#set( $hits = $mediaarchive.query("view").exact("moduleid",$moduleid).exact("systemdefined", false).sort("ordering").search() )
				#elseif( $type.id == "module" )
					#set( $hits = $mediaarchive.query("permissionsentity").exact("permissionentitytype", $moduleid).sort("ordering").search() )
				#else
					#set( $hits = $mediaarchive.query("permissionsentity").exact("permissionentitytype", $type.id).sort("ordering").search() )
				#end

	        	#if( !$hits.isEmpty() && $section != $type.id )
	        		<thead>
	        			<tr class="sectionlevel sectionheader section${type.id} togglesection">
						<td colspan="3">
							#set($val = $permissionassigned.contains($type.id))
							<input type="checkbox" class="section-checkall me-3" data-section="${type.id}" id="checkall-${type.id}" #if($val) checked #end  />
							#if( $type.id == "module" )
								#text($module) [[Permissions]]
							#else
							#set($permissiontype = $mediaarchive.getCachedData("permissionentitytype", $type.id))
							#text($permissiontype)
							#end
						</td>
	        			</tr>
	        		</thead>
	        		#set( $section = $type.id)
	        	#end
				
				
				#foreach( $item in $hits )
					#set($val = $permissionassigned.contains($item.id))
	        		<tr class="$type.id">
						<td valign="middle" style="text-align: center; width: 35px;">
						<input type="hidden" name="field" value="$item.id" />
						<input class="permission-radio" type="checkbox" name="${item.id}.value" value="true" data-permissionsentity="$item.id" id="checkbox-$item.id"
						#if($val) checked #end />
						
						</td>
						<td class="col-3" valign="middle">
							<label for="checkbox-$!item.id" style="padding:5px 0 1px 0;">#text($item.getName())</label></td>
						<td class="caption">$!item.caption</td>
	        		</tr>
				#end
	       	#end
    	</table>
    </div>
	
</form>

<script type="text/javascript">
jQuery(".permission-radio").bind("click", function () {
	var val = jQuery(this).val();
	
	if(val == "partial"){
		jQuery(this).parent().find(".sub-list").show();
	}
	else {
		jQuery(this).parent().find(".sub-list").hide();
	}
});
</script>
</div>