#set( $moduleid = $content.module)
#if($moduleid)
#set($module = $mediaarchive.getData("module", $moduleid))
#end


<div class="col-sidebar-header">
	<h2>
		[[Data Entity Manager]]
	</h2>
	<a href="#" title="[[Hide Search Sidebar]]"
		class="sidebar-toggler sidebar-toggler-hide" data-action="hide"
		data-targetdiv="col-sidebars">
		<i class="bi bi-chevron-left closebar"></i>
	</a>
</div>
<div class="col-sidebar-scroll">
	<ul class="sidebar-list auto-active-container overflow-y" id="sidebar-entities">
		#set( $urlbase = "$siteroot$applink/views/modules" )
		#set( $searcher = $searcherManager.getSearcher($catalogid,"settingsmenu") )
		#foreach ( $amodule in $userprofile.getEntities() )
			#if($module.get("isentity"))
				#set($tab = $amodule.id)
				
				<li class="#if($moduleid==$amodule.id) current #end">
					<a class=" ajax auto-active-link sidebar-entities-menu" data-targetdiv="applicationcontent" data-updateurl="true"
						data-hidefooter="true" data-oemaxlayout="3" data-profilepreference="defaultmodule"
						data-profilepreference.value="${amodule.getId()}" data-scrolltotop="true"
						href="$urlbase/${amodule.id}/index.html">
						#set($moduleicon = "box")
						#if ($amodule.moduleicon)
							#set($moduleicon = $amodule.moduleicon)
						#end
					<i class="bi bi-$moduleicon ns me-2"></i>#text($amodule)</a>
					#if($canviewsettings)
						<a class="action sidebar-entities-submenu-toggler" style="position:absolute; right: 0; top:0;"
							href="#"
							title="#text($amodule) [[Properties]]"><i class="bi bi-gear-fill"></i></a>
						<ul class='sidebar-sublist sidebar-entities-submenu auto-active-container 
						#if( $tab == $moduleid && $content.subtabmenu ) #else d-none #end '>
							
							#set( $query = $searcher.createSearchQuery() )
							#set( $null = $query.addExact("menulevel","toplevel") )
							#set( $null = $query.addExact("moduleid",$amodule.id) )
							$!query.addSortBy("ordering")
							#set($screens =  $searcher.search($query))

							#foreach($screen in $screens) 
								<li id="$!{screen.id}" 
									class='
										#set($subtabmenu = $content.subtab)
										#ifnotnull($content.subtabmenu)
											#set($subtabmenu = $content.subtabmenu)
										#end
										#if($subtabmenu == $screen.id) current #end
									'
								>
									<a href="${apphome}${screen.path}" 
									class="ajax auto-active-link" 
									data-targetdiv="applicationcontent" 
									data-updateurl="true" 
									data-oemaxlayout="3"
									data-screenid="$screen.id"
									title="#text($amodule) $context.getText($screen.toString())"><span>#text($screen)</span></a>
								</li>
							#end
						</ul>
					#end
				</li>
			#end
		#end
	</ul>
</div>