#ifnull($chatterboxhome)
#set($chatterboxhome = $page.chatterboxhome)
#end
#set($moduleid = $module.getId())
#ifnull($moduleid)
#set($moduleid = $page.module) 
#end
#if(!$chat)
	#set($chatid = $context.getRequestParameter("messageid"))
	#set($chat = $mediaarchive.getData("chatterbox",$chatid))
#end
#set($caneditgoal = false)

#if($user && ( $canviewsettings || $caneditcollection))
	#set($caneditgoal = true)
#end

#if(!$detail)
	#set( $detail = $mediaarchive.getSearcher("chatterbox").getDetail("attachedassets") )
	$context.putPageValue("detail",$detail)
#end
#if( $attachedassets)
	#set($attachedasset = $attachedassets[0])
	#set($attechedchatassetid = $attachedasset.assetid)
	$context.putPageValue("val", $attechedchatassetid)
#end


<div id="attachfileonchat" class="attachfileonchat">
	<form name="attach" 
		method="post" 
		enctype="multipart/form-data" 
		action="${chatterboxhome}/attachmentupload.html" 
		class="ajaxform chatattachasset row row-cols-lg-auto g-3 align-items-center" 
		data-targetdiv="attachfileonchat"
		data-includeeditcontext="true">
		<input type="hidden" name="collectionid" value="$!entityid" />  ##legacy
		
		<input type="hidden" name="channel" value="$!currentchannel.id" />
		<input type="hidden" name="chatmessage" value="" />
		
		<input type="hidden" name="assetid" class="pickedassetid" value="" id="chatattachment" />
	
		#ifnotnull($attachedasset)
			<input type="hidden" name="attachedassetid" value="$!{attachedasset.id}" />
		#end
	
		$pages.include("${apphome}/views/modules/${moduleid}/editors/assetattacher/index.html", $context)

	</form>

	<a href="#" class="btn btn-secondary chatter-attachfile-cancel ms-2">[[Cancel]]</a>
</div>

